/*NavBar*/

.logo {

	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	width: 20%;
	min-width: 200px;
	height: auto;

}

.navbar {

	min-width:255px;

}

.navbar-brand {

	max-width: 65%;

}

.nav-link, .navbar-brand .social-link {

cursor: pointer;

}

.text-styles {

	list-style: none;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	letter-spacing: 2px;


	}


}

.nav-link {

	color: rgba(99, 99, 99, 1.0);
	justify-content: center;
	padding: 1%;
	margin: 20px 10px 2px 10px;
	text-decoration: none;
	transition: all 0.7s;
	

	}


@media only screen and (max-width: 575px) {

	.logo{

		display: flex;
		margin-left: 0;
		margin-right: auto;
		width: 20%;
		min-width: 200px;
		height: auto;

	}
}

/*Main*/



#text-side {

	margin-top: 3rem;

}

/*Icons*/

.social-icon {

	width: 48px;
	height: auto;

}

.social-link {

	text-decoration: none;
	color: rgba(99, 99, 99, 1.0);
	
}

.contact-text {

	color: rgba(99, 99, 99, 1.0);
	justify-content: center;
	text-decoration: none;
	
}

/* Gallery */

.gallery {

	width: 100%;
	height: auto;
	object-fit: cover;
	transition: all 0.7s;

}

.gallery:hover {
	transform: scale(1.04);
	-webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;




